.form-field {
    display: block;
    margin-right: auto;
    margin-left: auto;
}


.button {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.qrcode {
    display: block;
    margin-right: auto;
    margin-left: auto;
}